.container{
  display: inline-block;
  height:100%;
  width:100%;
  overflow: hidden;
 /* background-image: url(../images/bg.JPG);
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center 0;*/
  background: -webkit-radial-gradient(#333 0%,#000 100%);
  background: radial-gradient(#333 0%,#000 100%);
}

.container>div{
  position: absolute;
  display: inline-block;
  width:100%;
  height: 100%;
  left: 0px;
  top: 100%;
}

/*************************
  *screen_1***************
  ************************/

/*******screen_1_static_style*******/
#screen1{
  display: inline-block;
  top: 0px;
}

.showTimeBox{
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin:auto;
  display: inline-block;
  width:240px;
  height:240px;
 /* background-color: rgba(255, 255, 255, 0.7);*/
  border-radius: 200px;
  text-align: center;
  border:5px solid #fff;
}
.showTimeBox>p{
  margin-top: 40px;
  font-size: 65px;
  line-height: 80px;
  /*color: #505050;*/
  color: #fff;
  cursor: pointer;
}
/*
.showTimeBoxShadow{
  width: 100%;
  height:100%;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 300px;
  box-shadow: #fff 5px 0px 10px,#fff 0px 5px 10px,#fff 0px -5px 10px,#fff -5px 0px 10px;
}*/

/********screen_1_anmation*********/

.screenEnter0{
  transition: all  0.3s  ease-in 0.2s ;
  -webkit-transition: all  0.3s  ease-in 0.2s;
  width:0px;
  height:0px;
  opacity: 0;
}
.screenEnter1{
  transition: opacity  0.2s  ease-in ;
  -webkit-transition: opacity  0.2s  ease-in ;
  opacity: 0;
}

/*#screen1>.transfer{
  display: inline-block;
  width:0px;
  height:0px;
  background-color: #fff;
  position: absolute;
  top: 0px;
  bottom:0px;
  left: 0px;
  right:0px;
  margin:auto;
  transform: rotate(90deg);
  transition: all  0.6s  ease-in-out,display 0s ease 0.6s ;
}
#screen1>.transfer0{
   transition-delay:0.6s;
   background-color: #fff;
}
#screen1>.transfer1{
   transition-delay:0.7s;
   background-color: #fff;
}
#screen1>.transfer2{
   transition-delay:0.8s;
   background-color: #fff;
}
#screen1>.transfer3{
   transition-delay:0.9s;
   background-color: #fff;
}
#screen1>.transfer4{
   transition-delay:1s;
   background-color: #fff;
}
#screen1>.transfer5{
   transition-delay:1.1s;
   background-color: #fff;
}*/

#screen1>.transferEnter{
  opacity: 0;
   width:100%;
   height:100%;
   transform: rotate(0deg);
}

/*************************
  *screen_2***************
  ************************/

/*********screen_2_static_style********/
#screen2{cursor: default;}
#screen2>.webTextBox{
  display: inline-block;
  width:257px;
  height:300px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right:0;
  margin:auto;
  opacity: 0;
}
#screen2  .webTextBox  span{
  line-height: 300px;
  font-size: 220px;
  color: #fff;
  position: absolute;
  top:0px;
}
.textW{
  left:-150px;
}
.textE{
  left:196px;
  transform-origin: bottom;
  transform: rotateX(60deg);
}
.textB{
  left:480px;
}
.textH{
  left:196px;
  opacity: 0;
}
.textY{
  left:310px;
  opacity: 0;
}
.textQ{
  left:432px;
  opacity: 0;
}
.screenNetSpeed2{
  width:100px;
  height: 100px;
  color: #fff;
  font-size: 80px;
  line-height: 100px;
  position: absolute;
  top: 0;
  bottom: 0;
  left:0;
  right:0;
  margin:auto;
  padding: 0 0 280px 290px;
}
.screenIE2{
  font-size: 80px;
  width:100px;
  height: 100px;
  color: #fff;
  font-size: 110px;
  line-height: 100px;
  position: absolute;
  top: 0;
  bottom: 0;
  left:0;
  right:0;
  margin:auto;
  opacity: 0;
  transform: scale(6);
}

/******screen_2_animation_for_first_click******/
.screenEnter2{
  top:0px!important;
}
#screen2>.webTextBoxEnter{
  opacity: 1;
  transition: opacity 2s ease-in-out 0.5s;
}
.textWEnter{
  left:0px;
  transition: all 2s ease 0.5s;
}
.textEEnter{
  transition: all 2s ease 0.5s;
  transform: rotateX(0deg);
}
.textBEnter{
  transition: all 2s ease 0.5s;
  left:110px;
}
.textELeave{
  transition: all 1s ease;
  transform: rotateX(0deg);
  opacity: 0;
}
.textBLeave{
  transition: all 1s ease;
  transform: rotateX(0deg);
  opacity: 0;
  left:310px;
}
.textHEnter{
  transition: all 1s ease ;
  opacity:1;
}
.textYEnter{
  transition: all 1s ease ;
  opacity:1;
}
.textQEnter{
  transition: all 1s ease ;
  opacity:1;
}
/******screen_2_animation_for_second_click******/
.webTextBoxMove{
  transform: scale(0.55);
  padding-right: 600px;
  opacity:1!important; 
  transition: transform 0.8s ease-in-out,padding-right 0.8s ease-in-out;
}
/******screen_2_animation_for_ third_click******/
.ieEnter{ 
  opacity: 1;
  padding-top: 280px;
  padding-left: 470px;
   transition: transform 0.8s ease-in-out,padding-left 0.8s ease-in-out,padding-top 0.8s ease-in-out;
   transform: scale(1);
}
/******screen_2_animation_for_ forth_click******/
.screenLeave20{
  transition: transform 0.8s ease-out;
}

/*************************
  *screen_3***************
  ************************/

  /*******screen_3_static_style*******/
  #screen3{
    cursor: default;
  }
.screenTextBox3{
  display: inline-block;
  width:auto;
  min-width: 100%;
  height:150px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin:auto;
  text-align: center;
  overflow: hidden;
}
.screenTextBox3 div{
  display: inline-block;
  padding:0px 5px;
  opacity:0;
}
.screenTextBox3 span{
  color: #fff;
  line-height: 150px;
  font-size: 110px;
}
#screen3>img,#screen4>img{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom:0;
  margin:auto;
  width :800px;
  opacity:0;
  transition: transform 0.5s ease-in-out,opacity 0.5s ease-in-out;
  transform: scale(0);
}
.flappyLink{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right:0;
  font-size: 80px;
  height: 200px;
  width:800px;
  text-align: center;
  color: #fff;
  margin:auto;
  background-color: rgba(256,256,256,0.8);
  transition: opacity 0.3s ease;
  opacity: 0;
}

/******screen_3_animation_for_first_click******/
.screenTextBox3  .screenTextEnter3{
  transition: opacity 1s ease ,padding-right 1s ease ,padding-left 1s ease ;
  padding:0px;
  opacity:1;
}
#screen3 .screenTextBoxLeave3{
  opacity: 0;
  transition: opacity 0.5s ease;
}
#screen3>.productEnter{
transform: scale(1);
opacity:1;
}
.linkShow{
  opacity: 1;
}
/*************************
  *screen_4***************
  ************************/

  /*******screen_4_static_style*******/
 #screen4 .future2{
    width:400px;
  }
.screenTextBox4{
  display: inline-block;
  width:auto;
  min-width: 100%;
  height:150px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin:auto;
  text-align: center;
  overflow: hidden;
}
.screenTextBox4 div{
  display: inline-block;
  padding:0px 5px;
  opacity:0;
}
.screenTextBox4 span{
  color: #fff;
  line-height: 150px;
  font-size: 110px;
}
/******screen_4_animation_for_first_click******/
.screenTextBox4  .screenTextEnter4{
  transition: opacity 1s ease ,padding-right 1s ease ,padding-left 1s ease ;
  padding:0px;
  opacity:1;
}
#screen4 .screenTextBoxLeave4{
  opacity: 0;
  transition: opacity 0.5s ease;
}
#screen4>.productEnter{
transform: scale(1);
opacity:1;
}
.screenTextBox5{
  display: inline-block;
  width:700px;
  height:200px;
  position: absolute;
  top: 0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
  overflow: hidden;
  text-align: center;
}
.screenText5{
  line-height: 200px;
  font-size: 150px;
  color:#fff;
  text-align: center;
  opacity: 0;
  margin-top: 200px;
}
.screenTextEnter5{
  transition:margin-top 1s ease 0.5s,opacity 0.5s ease-in 1s;
  opacity: 1;
  margin-top: 0;
}
