html{
  height: 100%;
}

body{
      height: 100%;
      position: relative;
      overflow: hidden;
}

html,body{
      width:100%;
      margin:0px;
}

div,body,html{
	 font-size: 0px;
}

p,a,span{
    font-family: 'Open Sans','Helvetica Neue',Arial,'Hiragino Sans GB','Microsoft YaHei','WenQuanYi Micro Hei',sans-serif;
}

p{
      margin:0px; 
}

a{
	outline: none;
	text-decoration: none;
}

img{
  outline: none;
  border-width:0px;
}

ol{
  margin:0px;
}
@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.eot'); /* IE9*/
  src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont.woff') format('woff'), /* chrome、firefox */
  url('../fonts/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-42:before { content: "\e600"; }
