<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Web</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="styles/reset.css">
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="presentationApp">
    <!--[if lt IE 7]>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="container" ng-controller = 'MainCtrl'>
      <div id="screen1"  ng-style='screenHide1'>
        <div class="showTimeBox" ng-click="screenClick1()" ng-class='screenEnter[0]' >
          <p ng-class='screenEnter[1]'>Show<br>Time</p>
          <!-- <div class="showTimeBoxShadow"></div> -->
        </div>
        <!-- <div class="transfer transfer0" ng-class='transfer'></div>
        <div class="transfer transfer1" ng-class='transfer'></div>
        <div class="transfer transfer2" ng-class='transfer'></div>
        <div class="transfer transfer3" ng-class='transfer'></div>
        <div class="transfer transfer4" ng-class='transfer'></div>
        <div class="transfer transfer5" ng-class='transfer'></div> -->
      </div>
      <div id="screen2" ng-class='screenEnter2' ng-style='screenStyle2' ng-click='screenClick2()'>
        <div class="webTextBox" ng-style='screenLeave20' ng-class='webTextBoxEnter' >
          <span class="textW"  ng-class='textWEnter'>W</span>
          <span class="textE" ng-class='textEEnter'>e</span>
          <span class="textB" ng-class='textBEnter'>b</span>
          <span class="textH" ng-class='textHEnter'>h</span>
          <span class="textY" ng-class='textYEnter'>y</span>
          <span class="textQ" ng-class='textQEnter'>?</span>
        </div>
        <span class="screenNetSpeed2" ng-style='screenLeave21' ng-bind='screenChangeTime2'></span>
        <span class='iconfont screenIE2'  ng-class='ieEnter' ng-style='screenLeave22'>&#xe600</span>
      </div>
      <div id="screen3" ng-style='screenStyle3' ng-click='screenClick3()' >
        <div class="screenTextBox3" ng-class='screenTextBoxLeave3'>
          <div ng-class='screenTextEnter3'><span>W</span></div>
          <div ng-class='screenTextEnter3'><span>h</span></div>
          <div ng-class='screenTextEnter3'><span>a</span></div>
          <div ng-class='screenTextEnter3'><span>t</span></div>
          <span>&nbsp</span>
          <div ng-class='screenTextEnter3'><span>C</span></div>
          <div ng-class='screenTextEnter3'><span>a</span></div>
          <div ng-class='screenTextEnter3'><span>n</span></div>
          <span>&nbsp</span>
          <div ng-class='screenTextEnter3'><span>W</span></div>
          <div ng-class='screenTextEnter3'><span>e</span></div>
          <span>&nbsp</span>
          <div ng-class='screenTextEnter3'><span>D</span></div>
          <div ng-class='screenTextEnter3'><span>o</span></div>
          <div ng-class='screenTextEnter3'><span>?</span></div>
        </div>
        <img src="./images/flappyBird.jpeg" alt="" class="product1" ng-class='product1'>
        <p class="flappyLink" ng-class='linkShow'>www.jarvisworld.com<br/>/flappyBird</p>
        <img src="./images/panda.JPG" alt="" class="product2" ng-class='product2'>
        <img src="./images/share.jpg" alt="" class="product3" ng-class='product3'>
        <img src="./images/AlloyStic2.png" alt="" class="product4" ng-class='product4'>
      </div>
      <div id="screen4" ng-style='screenStyle4' ng-click='screenClick4()' >
        <div class="screenTextBox4" ng-class='screenTextBoxLeave4'>
          <div ng-class='screenTextEnter4'><span>W</span></div>
          <div ng-class='screenTextEnter4'><span>h</span></div>
          <div ng-class='screenTextEnter4'><span>a</span></div>
          <div ng-class='screenTextEnter4'><span>t</span></div>
          <span>&nbsp</span>
          <div ng-class='screenTextEnter4'><span>W</span></div>
          <div ng-class='screenTextEnter4'><span>i</span></div>
          <div ng-class='screenTextEnter4'><span>l</span></div>
          <div ng-class='screenTextEnter4'><span>l</span></div>
          <span>&nbsp</span>
          <div ng-class='screenTextEnter4'><span>W</span></div>
          <div ng-class='screenTextEnter4'><span>e</span></div>
          <span>&nbsp</span>
          <div ng-class='screenTextEnter4'><span>D</span></div>
          <div ng-class='screenTextEnter4'><span>o</span></div>
          <div ng-class='screenTextEnter4'><span>?</span></div>
        </div>
        <img src="./images/overDivice.png" alt="" class="future1" ng-class='future1'>
        <img src="./images/wechat.png" alt="" class="future2" ng-class='future2'>
        <img src="./images/webgl.png" alt="" class="future3" ng-class='future3'>
        <div class="screenTextBox5">
          <p class='screenText5' ng-class='screenTextEnter5'>Thanks~</p>
        </div>
      </div>
      <div id="screen5"></div>
    </div>


    <!-- Google Analytics: change UA-54611682-1 to be your site's ID -->
     <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-54611682-1');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/about.js"></script>
        <!-- endbuild -->
</body>
</html>
